<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NodeJs - Express Basic</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('topnav') -%>
    <div class="container">
      <div class="w3-container">
        <h2>List Users Table</h2>

        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-grey">
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% dataUser.forEach(function(user) { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.firstName %></td>
              <td><%= user.lastName %></td>
              <td>
                <div class="w3-bar">
                  <form action="/user/details/<%= user.id %>" method="get">
                    <button class="w3-button w3-black" type="submit">
                      Details
                    </button>
                  </form>
                  <form action="/user/edit/<%= user.id %>" method="post">
                    <button class="w3-button w3-teal" type="submit">
                      Edit
                    </button>
                  </form>
                  <form action="/user/delete" method="post">
                    <input
                      type="text"
                      name="userId"
                      hidden
                      value="<%= user.id %>"
                    />
                    <button class="w3-button w3-red" type="submit">
                      Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w3-container">
      <h2 class="w3-center">Create a new user</h2>
      <form class="w3-container" action="/user/create" method="post">
        <p>
          <label for="firstName">First Name</label>
          <input class="w3-input" type="text" id="firstName" name="firstName" />
        </p>
        <p>
          <label for="lastName">Last Name</label>
          <input class="w3-input" type="text" id="lastName" name="lastName" />
        </p>
        <p>
          <label for="email">Email</label>
          <input class="w3-input" type="email" id="email" name="email" />
        </p>
        <p>
          <label for="address">Address</label>
          <input class="w3-input" type="text" id="address" name="address" />
        </p>
        <div class="w3-bar">
          <input type="submit" value="Submit" class="w3-button w3-black" />
        </div>
      </form>
    </div>
  </body>
</html>
